<table class="allMembers">
    <tbody>
        <tr>
            <!--<th  ng-repeat="employee in employeeRecords">employee</th>-->
            <th>Name</th>
            <th>Designation</th>
            <th>Employee ID</th>
            <th>Technology</th>
            <th>Action</th>
        </tr>
    </tbody>
    <tbody>
        <tr ng-repeat="employee in employeeRecords">
            <td> {{ employee.Name  }} </td>
            <td> {{ employee.designation  }} </td>
            <td> {{ employee.EmployeeId  }} </td>
            <td> {{ employee.technology  }} </td>
            <td>
                <a class="row-link" href="viewPage">View</a>
                <a class="row-link" href="javascript:void(0)">Edit</a>
            </td>
        </tr>
    </tbody>
</table>