<table class="allMembers">
    <tbody>
        <tr>
            <th>Name</th>
            <th>Designation</th>
            <th>Employee Id</th>
            <th>Technology</th>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Mignon Batterton</td>
            <td>SSE</td>
            <td>IG-0422</td>
            <td>FEEN</td>
        </tr>
        <tr>
            <td>Dori Goldberger</td>
            <td>SE</td>
            <td>IG-0428</td>
            <td>FEEN</td>
        </tr>
        <tr>
            <td>Dori Goldberger</td>
            <td>SSE</td>
            <td>IG-0412</td>
            <td>FEEN</td>
        </tr>
        <tr>
            <td>Wenona Artis</td>
            <td>Trainee</td>
            <td>IG-0722</td>
            <td>FEEN</td>
        </tr>
        <tr>
            <td>Dannielle Marling</td>
            <td>SSE</td>
            <td>IG-0222</td>
            <td>FEEN</td>
        </tr>
        <tr>
            <td>Walker Godbey</td>
            <td>SSE</td>
            <td>IG-0111</td>
            <td>FEEN</td>
        </tr>
        <tr>
            <td>Keila Lipson</td>
            <td>SSE</td>
            <td>IG-0401</td>
            <td>FEEN</td>
        </tr>
    </tbody>
</table>