<table class="allMembers">
    <tbody>
        <tr>
            <th>Name</th>
            <th>Designation</th>
            <th>Employee ID</th>
            <th>Technology</th>
            <th>Action</th>
        </tr>
    </tbody>
    <tbody>
        <tr ng-repeat="employee in employeeRecord">
            <td> {{ employee.Name + ' ' +  employee.lastname  }} </td>
            <td> {{ employee.designation  }} </td>
            <td> {{ employee.EmployeeId  }} </td>
            <td> {{ employee.technology  }} </td>
            <td>
                <a class="row-link" ng-click="viewEmployeeInfo($index)" ui-sref="detail">View</a>
                <a class="row-link" ng-click="editEmployeeInfo($index)" ui-sref="edit">Edit</a>
                <a class="row-link" ng-click="deleteEmployeeInfo($index)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>