<ul class="add-member">
    <form name="userForm" ng-submit="changeValue()">
        <li>
            <input type="text" class="form-row" placeholder="First Name" ng-model="employeeDetail.Name" />
        </li>
        <li>
            <input type="text" class="form-row" placeholder="Last Name" ng-model="employeeDetail.lastname" />
        </li>
        <li>
            <input type="text" class="form-row" placeholder="Gender" ng-model="employeeDetail.Gender"/>
        </li>
        <li>
            <input type="text" class="form-row" placeholder="Employee ID" ng-model="employeeDetail.EmployeeId" />
        </li>
        <li>
            <input type="text" class="form-row" placeholder="Designation" ng-model="employeeDetail.designation"/>
        </li>
        <li>
            <input type="text"  class="form-row" placeholder="Experience" ng-model="employeeDetail.Experience"/>
        </li>
        <li>
            <input type="text" class="form-row" placeholder="Technology" ng-model="employeeDetail.technology" />
        </li>
        <li>
            <input type="submit" value="Save" class="save-btn"/>
        </li>
    </form>
</ul>